<hr>
<footer class="bg-white  shadow ">
    <div class=" mx-auto p-6 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="#" class="flex items-center mb-4 sm:mb-0 ">
                <img src="assets/Logo.png" class="h-8 mr-3" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap  font-dance">E Book</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm  text-black">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">Home</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6">Products</a>
                </li>
               
                <li>
                    <a href="#" class="hover:underline">About</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">E Book</a>. All Rights Reserved.</span>
    </div>
</footer>

