<div
  class="max-w-xs mx-2 my-4 overflow-hidden bg-white rounded-lg shadow-md w-72 h-96 flex flex-col justify-center items-center">
  <div class="cursor-pointer" (click)="getProDetails(book._id)">
    <div class="flex items-center justify-center h-40">
      <img class="w-32" [src]="book.image" alt="Product Image">
    </div>
    <div class="p-4 flex flex-col ">
      <h2 class="mb-2 text-lg text-center h-14 overflow-hidden">{{book.title}}</h2>
      <p class="font-semibold text-center text-gray-900 mt-1">{{book.price | currency:'INR'}}</p>
      <hr class="my-4 border-t border-gray-300">
    </div>
  </div>
  <button class="bg-black hover:bg-gray-800 text-white p-2 rounded w-11/12" (click)="addToCart(book._id)">
    add to cart
  </button>
</div>