<app-nav-bar></app-nav-bar>
<div class="card w-full min-h-[70vh]">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4  ">
    <div class="cart col-span-2 p-12 ">
      <div class="title">
        <div class="flex items-center justify-between">
          <h4 class="font-bold">Shopping Cart</h4>
          <div class="text-right text-muted">{{cart.length}} items</div>
        </div>
      </div>
      <ng-container *ngIf="!loader">
        <div class="flex h-full md:h-96 w-full justify-center items-center" *ngIf="cart.length <= 0">
          <h1 class="text-2xl font-medium">Your Cart is Empty</h1>
        </div>
      </ng-container>
      <div class="w-full flex h-96 justify-center items-center" *ngIf="loader">
        <app-loader [size] = "10"></app-loader>
      </div>
      <ng-container *ngIf="!loader" class="h-full">
        <div class="border-t border-b mb-2 overflow-x-auto " *ngFor="let item of cart" >
          <div class="flex flex-col sm:flex-row items-center">
            <div class="w-full sm:w-1/6 mb-2 sm:mb-0 sm:mr-4">
              <img class="w-full" [src]="item.product.image">
            </div>
            <div class="w-full sm:w-4/6 mb-2 sm:mb-0">
              <div class="text-muted">{{item.product.title}}</div>
            </div>
            <div class="w-full sm:w-1/6 flex items-center justify-center sm:justify-end">
              <button class="border px-2 me-1 cursor-pointer" (click)='decrementPro(item.product._id)'>-</button>
              <a class="border px-2">{{item.quantity}}</a>
              <button class="border px-2 ms-1 cursor-pointer" (click)='incrementPro(item.product._id)'>+</button>
            </div>
            <div class="w-full sm:w-1/6 flex items-center justify-center sm:justify-end ms-1">
              {{item.product.price | currency : 'INR'}} <span class="close cursor-pointer font-bold text-md text-color5" (click)="removeCartItem(item.product._id)">&#10005;</span>
            </div>
          </div>
        </div>
      </ng-container>
      
      

    </div>

    <div class="summary bg-slate-100 h-full">
      <div>
        <h5 class="font-bold ">Summary</h5>
      </div>
      <hr class="my-2">

      <div class="flex justify-between" *ngFor = "let i of cart">
        <div class="w-1/2 text-sm  overflow-hidden font-medium">{{i.product.title | bulletin}}</div>
        <div class="w-1/2 text-right text-sm font-medium "> + {{i.quantity * i.product.price | currency : 'INR'}} </div>
      </div>


      <div class="flex justify-between mt-2 border-t border-gray-300 py-2">
        <div class="w-1/2 font-semibold">TOTAL PRICE</div>
        <div class="w-1/2 text-right font-bold">{{getTotal() | currency : 'INR'}}</div>
      </div>

      <button class="btn mt-4">CHECKOUT</button>
    </div>
  </div>
</div>
<app-footer></app-footer>